:root{
    --black-color: #222222;
    --white-color: #fff;
    --text-color: #333;
    --text-color-hover: #006400;
    --primary-color: #A70E1A;
    --yellow-color: #F0A52B;
}

*{
    box-sizing: inherit;
}

html
{
    /*16px*/
    font-size: 62.5%; /* Khi do 1rem se bang 10px*/
    line-height: 16px;
    font-family: Roboto, sans-serif; /*Tập hợp những font chữ không có chân*/
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width
{
    width: 100%;
}

.grid__row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;

}

/*Khoi san pham*/

.grid_column-2
{
    padding-left: 40px;
    padding-right: 5px;
    width: 16.667%;
}

.grid_column-2-4
{
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}

.grid_column-10
{
    padding-left: 5px;
    padding-right: -10px;
    width: 83.333%;
}

.header {
    height: 170px;
    background-color: var(--primary-color);
}
.header-slogan
{
    width: 100%;
    height: 60px;
    display: block;
}
.header-slogan__text
{
    padding: 6px 0;
}
.header-slogan__text__item
{
    color: var(--white-color);
    font-size: 17px;
    text-align: center;
    padding: 3px 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}

.header__logo
{
    background-color: var(--yellow-color);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img-border
{
    padding-left: 7px;
    padding-right: 7px;
}
.header__logo-img
{
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    background-size: contain;
    position: relative;
    left: 205px;

}
.header__find
{
    position: relative;
    right:180px;
}

.header__navbar-list{
    list-style: none;
}

.header__navbar-item {
    margin: 0 10px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color) ;
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover
{
    cursor: pointer;
    color: rgba(255,255,255,0.8);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link
{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-bold
{
    font-weight: bold;
    position: relative;
    top: -2px
}

.header__navbar-item--line::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid ;
    height: 16px;
    right: -10px;
    top: 3px;
}

.header__navbar-icon-link
{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon
{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-item-disable
{
    cursor: text;
    color: var(--white-color);
}

/*header QR Code*/
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    border-radius: 5px;
    top: 95%;
    padding: 8px;
    display: none;
    z-index: 1;
}

.header__qr-image
{
    width: 100%;
}
.header__qr-apps
{
    display: flex;
    justify-content: space-between;
}
.header__qr-download-image
{
    height: 18px;
}

.header__qr-link:nth-child(1)
{
    margin-left: 12px;
}
.header__qr-link:nth-child(2)
{
    margin-right: 1px;
}

.home-product-item-height-img
{
    height: 250px;
}
.header__find
{
    position: relative;
    right: 130px;
    opacity: 0.9;
}
.header__find:hover
{
    opacity: 1;
}

.header__find-box
{
    border-radius: 25px;
    height: 40px;
    border: none;
    outline: none;
    width: 300px;
    padding: 10px;
    font-size: 14px;
}
.header__find-btn
{
    position: relative;
    left: -50px;
    bottom: 1px;
    background-color: var(--white-color);
}
.header__find-btn-height
{
    height: 38px;
    width: 40px;
    border-style: none;
    border-radius: 25px ;
    background-color: var(--white-color);
    cursor: pointer;
}


/*logo*/



